* {
    margin: 0px;
    /* background-color: lightgrey; */
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;

}
body {
    background-color: lightgrey;
}
.portfolio {
    height: 130px;
    background-color:lightgrey;

}
.portfolio-1st {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
     
}
span {
    padding: 5px 12px;
    font-size: 2rem;
    font-weight: 900;
    margin-top: 30px;
    margin-left: 15px;
    display: inline;
    width: 300%;
     
}
span:hover {
    color: #000;
    background-color: #f1f1f1;
}
.profile {
    width: 110px;
    height: 110px;
    background-color: aquamarine;
    border-radius: 50%;
    margin-top: 10px;
    margin-left: 87%;
    background-size:cover;
    

}
.portfolio-2nd {
    margin-left: 15px;
    font-family: 'Times New Roman';
    height: 54px;
     
}

.ops-2 {
    height: 38.5px;
    width: 113.24px;
    background-color: #ffffff;
    color: #000000;
}
.ops-2 i {
    background-color: #ffffff;
}
.ops-1 {
    color: #ffffff;
    background-color: #000000;
    height: 38.5px;
    width: 59.64px;
}
.ops-3 {
    height: 38.5px;
    width: 113.24px;
    background-color: #ffffff;
    color: #000000;
}
.ops-3 i {
    background-color: #ffffff;
}
.ops-4 {
    height: 38.5px;
    width: 113.24px;
    background-color: #ffffff;
    color: #000000;

}
.ops-4 i {
    background-color: #ffffff;

}

.ops-1:hover {
    background-color: lightgrey;
} 
.ops-2:hover {
    background-color: lightgrey;
}
.ops-3:hover {
    background-color: lightgrey;
}
.ops-4:hover {
    background-color: lightgrey;

}
.content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.box {
    /* border: 2px solid black; */
    height: 450px;
    width: 32%;
    background-color: white;
    padding: 20px 0px 15px;
    margin-top: 15px;
}
.box-image {
    position: relative;
    height: 300px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.box-content {
    margin-left: 1rem;
    margin-right: 1rem;
    background-color: #f1f1f1;
}
.box-content p {
    background-color: white;
}
.box-image::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255,0,0,0);
    pointer-events: none;
}
.box-image:hover::after {
     background-color: rgba(255, 255, 255, 0.821);

}
.center {
    padding-top: 32px;
    padding-bottom: 32px;
    text-align: center;
    font-size: 1.5rem;
}
.key1:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.key2:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.key3:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.key4:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.key5:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.key6:hover {
    background-color: #000000;
    color: #f1f1f1;
}
.images-of-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.images {
    width: 48%;
    background-color: white;
    margin-top: 15px;

}
.image1 {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
}
.image2 {
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center;
    flex-shrink: 0;
}
.about-me {
    margin-top: 15px;
    margin-left: 25px;
}
.about-me p {
    max-width: 95%;
    line-height: 1.8em;
    max-height: 6em;
   
}
.about-me h3 {
    margin-bottom: 25px;
}
.info {
    margin-left: 20px;
    margin-top: 15px;
}
.info p {
    margin-top: 15px;
    font-size: 1rem;
}
.info input {
    margin-top: 15px;
    width: 95%;
    background-color: #9e9e9e;
    color: #000000;
    text-align: center;
    padding: 8px 16px;
    font-weight: bold;
} 

.download {
    margin-top: 15px;
    margin-left: 10px;
} 
.download button {
    height: 46px;
    width: 20%;
    font-size: 1rem;
    color: #ffffff;
    background-color: #616161;
} 
.download button:hover {
    background-color: #ffffff;
    color: #616161;
}

.container {
    max-width: 1200px;
    margin: 0;
    text-align: center;
    background-color: #f5f5f5;
    padding: 40px 20px;
}
.title {
    margin-left: 60px;
    font-size: 28px;
    font-weight: lighter;
    margin-top: 70px;
    margin-bottom: 30px;
}
.pricing-wrapper {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}
.card {
    background-color: #ffffff;
    width: 30%;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    overflow: hidden;
   
}
.card-header {
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    text-align: center;
}
.basic {
    background-color: #333;
}
.pro {
    background-color: #2ca8a8;
}
.premium {
    background-color: #444;
}
.card-body {
    padding: 20px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    background-color: #f1f1f1;
   
}
.card-body p {
    border-bottom: 1px solid #ddd;
    margin:  0;
    color: #333;
    padding: 15px 0;
    background-color: transparent;
    font-size: 16px;
    display: block;
    width: 100%;
    text-align: center;

}
.card-body h3 {
    margin-top: 20px;
    font-size: 26px;
    background-color: transparent;
}   
.card-body span {
    font-size: 14px;
    color: #999;
    background-color: transparent;
    text-align: center;
    
}
.card-footer {
    padding: 20px;
    text-align: center;
}
.card-footer button {
    padding: 10px 25px;
    border: none;
    background-color: #2ca8a8;
    color: white;
    font-weight: bold; 
    display: inline-block;
    
} 
.card-footer button:hover {
    background-color: #000000;
} 
.basic:hover {
    background-color: #000;
}
.card-body:hover {
    background-color: white;
}
.pro:hover {
    background-color: #009688;
}
.premium:hover {
    background-color: #000;
}
.contact-section {
    margin-top: 30px;
    /* margin-left: 20px; */
    background-color: #7e7b7b;
    width: 100%;
    
}   
.contact-section h3 {
    margin-left: 20px;
    margin-bottom: 20px;
}
.contact-ops {
    text-align: center;
    display: flex;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 20px;
   
}
.contact1 {
    padding: 16px;
    width: 480px;
    height: 100px;
    background-color: #616161;
    color: #ffffff;


}
.contact2 {
    padding: 16px;
    width: 480px;
    height: 100px;
    color: #ffffff;
    background-color: #009688;
}   
.contact3 {
    padding: 16px;
    width: 480px;
    height: 100px;
    color: #ffffff;
    background-color: #616161;

}
.divider {
    border: none;
    height: 2px;
    background-color: white; /* or any color you like */
    margin: 20px 0;
    width: 100%;
}
.drop-box {
    margin-left: 20px;
}
.drop-box p {
    margin-top: 10px;
    font-size: 15px;
}
.drop-box input {
    width: 98%;
    height: 35px;
}
.submit button {
    color: white;
    background-color: #000000;
    margin-top: 10px;
    width: 12%;
    height: 35px; 
}
.submit button:hover {
    color: #000;
    background-color: #616161;
}
.end-part {
    /* margin-left: 20px; */
    /* margin-top: 25px; */
    display: flex;
    /* justify-content: space-around; */
    gap: 20px;
    background-color: #444;
    width: 100%;
    color: white;
}
.part-1 {
    margin-left: 20px;
    margin-top: 20px;
}
.part-2 {
    margin-left: 20px;
    margin-top: 20px;
}
.part-3 {
    margin-left: 20px;
    margin-top: 20px;
}
.end-part h3 {
    margin-bottom: 20px;
}
.blog-item img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    object-fit: cover;
}
.blog-item li {
    /* display: flex; */
    padding:  8px 16px;
    padding-top: 8px;
    list-style-type: none;
    /* line-height: 1.5px; */
    /* display: list-item; */
}
.blog-text span {
    font-size: 1rem;
    display: block;
  /* line-height: 1.2; */
  margin: 0;
  padding: 0;
  
   
}
.blog-item {
    /* border-bottom: 1px solid #ddd; */
    display: flex;
    align-items: flex-start;
    gap: 10px;
    margin-right: 45px;
    /* margin-bottom: 0px; */
}
.blog-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* line-height: 1.2; */
}
.list-1 {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}
.list-2 {
    margin-top: 10px;
}
.travel-input {
  /* display: inline-block; */
  width: auto;
  padding: 6px 12px;
  margin: 6px 6px 10px 10px; /* top right bottom left */
  border: 1px solid #686868;
  font-size: 14px;
  text-align: center;
  background-color: #686868;
}
.tavel-input::placeholder {
    color: black;
}
.travel-special {
    background-color: #000000;
    border: 1px solid #000;
}
.travel-special::placeholder {
    color: #ddd;
}
.end-pagecontent {
    padding-top: 25px;
    background-color: black;
    height: 70px;
    color: white;
    text-align: center;
}
.link a {
    color: white;
}
.link a:hover {
    color: #444;
}