* {
    margin: 0;
    box-sizing: border-box;
}
.logo {
    display: flex;
}
.logo p{
    padding-top: 15px;
    margin-left: 15px;
    /* float: left; */
    width: 69%;
    height: 50px;
}
.logo span {
    padding-top: 15px;
    margin-right: 20px;
    height: 50px;
    /* float: right; */
}
.logo span:hover {
    background-color: lightgrey;
}
.starting-section {
    width: 100%;
    height: 690px;
    background-image: url("apple-laptop-review.jpg");
    background-size: cover;
    object-fit: cover;
    color: white;
}
.starting-section h2 {
    font-size: 3rem;
    padding-top: 200px;
    padding-bottom: 20px;
    padding-left: 30px;
    font-family: 'Times New Roman', Times, serif;
    word-spacing: 5px;
    font-weight: bolder;
    
}
.starting-section span {
    margin-top: 40px;
    padding-left: 30px;
    font-size: 1.5rem;
    
}
.starting-section button {
    display: block;
    margin-top: 40px;
    margin-left: 30px;
    height: 56px;
    width: 273px;
    background-color: #fff;
    font-size: 1rem;
}
.starting-section button:hover {
    background-color: rgb(246, 241, 241);
}
.symbols {
    padding-top: 230px;
    padding-left: 40px;
    font-size: 1.1rem;
    color: rgb(211, 211, 211);
}
.symbols i:hover {
    color: rgb(142, 138, 138);
}
.about-company h3 {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    font-size: 1.3rem;
}
.about-company p {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.features  {
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
    font-size: 2rem;
    margin-top: 30px;
}
.features-logo i {
    margin-left: 160px;
    margin-bottom: 20px;
}
.features-name span {
    margin-left: 130px;
    color: rgb(74, 72, 72);
}
.features-name .special  {
    margin-left: 110px;
}
.features-info {
    margin-top: 20px;
    font-size: 1rem;
    /* width: 80%; */
    margin-left: 30px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    color: rgb(74, 72, 72);
}   
.promo-section {
    margin-top: 100px;
    height: 505px;
    background-color: rgb(244, 239, 239);
    display: flex;
    padding-top: 90px;
    padding-left: 40px;
}
.promo-text {
    width: 47.99999%;
}
.promo-text h3 {
    margin-bottom: 30px;
    font-size: 1.3rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bolder;
}
.promo-text button {
    margin-top: 20px;
    height: 43px;
    width: 164px;
    border-radius: 0;
    color: white;
    background-color: black;
    border: 1px solid black;
}
.promo-text button:hover {
    color: black;
    background-color: lightgray;
    border: 1px solid lightgray;
}
.promo-image {
    height: 249px;
    width: 443px;
   
}
.promo-image img {
    border-radius: 10px;
}

.team h3 {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    margin-top: 20px;
}
.team p {
    text-align: center;
    font-size: 1.2rem;
}
.member-card {
    box-shadow: 0 4px 6px rgba(0,0,0,0.15);
}
.members {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 20px;
    height: 490px;
    padding-left: 20px;
    padding-right: 40px;
}
.member-image img {
    width: 345px;
    height: 295px;
}
.mem-name  h2 {
    padding-top: 10px;
    margin-bottom: 15px;
    padding-left: 20px;
}
.mem-proff p {
    margin-bottom: 15px;
    padding-left: 20px;
}
.mem-about p {
    margin-bottom: 10px;
    padding-left: 20px;
    /* margin-right: 39px; */
}
.contact button {
    width: 87%;
    height: 40px;
    border-radius: 0;
    border: 1px solid lightgrey;
    color: #000;
    font-size: 0.111;
    padding-left: 20px;
    margin-left: 20px;
}
.stats-ls {
    margin-top: 80px;
    padding-top: 90px;
    background-color: #616161;
    color: #fff;
    display: flex;
    justify-content: space-evenly;
    height: 219px;
}
.ls1 span {
    font-size: 1.9rem;
    margin-left: 5px;
}
.ls2 span {
    font-size: 1.9rem;
    margin-left: 24px;
}
.ls3 span {
    font-size: 2.1rem;
    margin-left: 18px;
}
.ls4 span {
    font-size: 2.1rem;
    margin-left: 5px;
}
.ls1 p {
    margin-top: 12px;
}
.ls2 p {
    margin-top: 12px;
}
.ls3 p {
    margin-top: 12px;
}
.ls4 p {
    margin-top: 12px;
}
.work-sec h3 {
    margin-top: 50px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 1.2rem;
}
.work-sec p {
    text-align: center;
    margin-bottom: 30px;
}
.work-images {
    margin-left: 20px;
    width: 390px;
    height: 230px;
    display: flex;
    gap: 20px;
}
.work-images2 {
    margin-left: 20px;
    width: 390px;
    height: 230px;
    display: flex;
    gap: 20px;
    margin-top: 20px;
}
.skills {
    margin-top: 80px;
    display: flex;
    background-color: #f1f1f1;
    padding-left: 30px;
    height: 280px;
}
.skill-sec {
    margin-top: 60px;
    width: 49.999%;
}
.skill-sec h3 {
    margin-bottom: 15px;
}
.skill-sec p {
    font-size: 1rem;
    margin-bottom: 15px;
}
.skill-stats {
    padding-top: 60px;
    width: 48%;
}
.skill-stats p {
    /* margin-bottom: 50px; */
    letter-spacing: 3px;
    font-size: 1.2rem;
   
}
.bar-container {
    width: 100%;
    height: 20px;
    background-color: #e0e0e0;
    margin-bottom: 15px;
    margin-top: 10px;
}
.bar-fill {
    height: 100%;
    width: 0;
    background-color: #333;
    text-align: center;
    color: white;
}
.price {
    height: 800px;
    background-color: #616161;
}
.price-sec {
    text-align: center;
    padding-top: 100px;
    color: white;
}
.price-sec h3 {
    margin-bottom: 25px;
}
.sections {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    gap: 0px;
  
}
.sec1 {
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 1px 2px 2px rgba(255, 252, 252, 0.94);
    width: 28.999%;
    text-align: center;
    position: relative;
    height: 500px;
    background-color: white;
}
   
.sec1 h3 {
    margin-bottom: 20px;
    background-color: #000;
    color: white;
    height: 60px;
    padding-top: 20px;
}
.sec1 p {
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5dada;
    padding-bottom: 10px;
   
} 
.sec2 {
    margin-top: 10px;
    margin-left: 5px;
    box-shadow: 1px 2px 2px rgba(255, 252, 252, 0.94);
    width: 32.999%;
    text-align: center;
    height: 540px;
    background-color: white;
    position: relative;
}
   
.sec2 h3 {
    margin-bottom: 20px;
    background-color: red;
    color: white;
    height: 100px;
    padding-top: 50px;
    
}
.sec2 p {
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5dada;
    padding-bottom: 10px;
   
} 
.sec3 {
    margin-top: 20px;
    margin-left: 5px;
    box-shadow: 1px 2px 2px rgba(255, 252, 252, 0.94);
    width: 28.999%;
    text-align: center;
    height: 500px;
    background-color: white;
    position: relative;
}
   
.sec3 h3 {
    margin-bottom: 20px;
    background-color: #000;
    color: white;
    height: 60px;
    padding-top: 20px;
}
.sec3 p {
    text-align: center;
    color: #000;
    font-size: 1.2rem;
    margin-bottom: 15px;
    border-bottom: 1px solid #e5dada;
    padding-bottom: 10px;
   
} 
.but {
    background-color: #e0e0e0;
    padding: 29px 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sec1 button {
    height: 40px;
    width: 100px;
    border-radius: 0;
    color: white;
    background-color: #000;
    border: #000;
}
.sec2 button {
    height: 40px;
    width: 100px;
    border-radius: 0;
    color: white;
    background-color: #000;
    border: #000;
}
.sec3 button {
    height: 40px;
    width: 100px;
    border-radius: 0;
    color: white;
    background-color: #000;
    border: #000;
}
.sec1 button:hover {
    background-color: #c4c2c2;
    color: #000;
}
.sec2 button:hover {
    background-color: #c4c2c2;
    color: #000;
}
.sec3 button:hover {
    background-color: #c4c2c2;
    color: #000;
}
.contacts {
    background-color: #f1f1f1;
    height: 1550px;
}
.contact-sec h3 {
    text-align: center;
    padding-top: 50px;
}
.contact-sec p {
    text-align: center;
    margin-top: 20px;
    font-size: 1.2rem;
}
.contact-us {
    margin-top: 30px;
    padding-left: 20px;
    font-size: 1.2rem;
}
.contact-us p {
    margin-bottom: 20px;
}
.contact-us i {
    margin-right: 20px;
    font-size: 1.7rem;
}
.contact-det input {
    width: 97%;
    height: 40px;
    margin-left: 20px;
    margin-top: 20px;
    padding-left: 10px;
}
.contact-det button {
    width: 12%;
    background-color: #000;
    color: white;
    margin-top: 20px;
    text-align: center;
}
.contact-det i {
    margin-right: 5px;
}
.contact-det button:hover {
    background-color: #aca6a6;
    color: #000;
}
.map img {
    margin-top: 50px;
    filter: grayscale(75%);
    width: 97%;
    margin-left: 20px;
}
.sec {
    background-color: #000;
    height: 300px;
    text-align: center;
}   
.last-sec p {
    color: #000;
    background-color: #f0e9e9;
    height: 40px;
    width: 10%;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
    padding-top: 10px;
}
.last-sec i {
    padding-right: 10px;
}
.last-sec p:hover {
    background-color: #aca6a6;
}
.sites i {
    color: white;
    margin-top: 130px;
    font-size: 1.5rem;
    margin-right: 3px;
}
.sites i:hover {
    color: #616161;
}
.end {
    color: white;
    margin-top: 25px;
    font-size: 1rem;
}
.end a {
    color: white;
}
.end a:hover {
    color: green;
}
    
    