* {
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #fdf5e6;
}
.links {
    z-index: 999;
    background-color: #000;
    height: 40px;
    font-family: Inconsolata;
    display: flex;
    justify-content: space-evenly;
    position: fixed;
    overflow-y: scroll;
    width: 100%;
    top: 0;
}
.links a {
    color: white;
    text-decoration: none;
    padding-top: 10px;
    font-size: 0.90rem; 
    width: 20%;
    text-align: center;
}
.links a:hover {
    background-color: rgb(171, 166, 166);
    height: 30px;
    margin-top: 5px;
    margin-bottom: 10px;
}
.cafe {
    background-image: url("coffeehouse.jpg");
    background-size: cover;
    width: 100%;
    min-height: 75%;
    filter: grayscale(50%);
    background-position: center;
    position: relative;
    height: 70vh;
}
.cafe-text h3 {
    text-align: center;
    color: white;
    font-size: 4.5rem;
    padding-top: 12%;
}
.cafe-text p {
    padding-top: 2px;
    color: white;
    background-color: #000;
    height: 5%;
    text-align: center;
    position: absolute;
    top: 92%;
    left: 1.5%;
}   
.cafe-text span {
    position: absolute;
    left: 90%;
    top: 92%;
    color: white;  
}
.about {
    margin-top: 50px;
    left: 50%;
    transform: translateX(50%);
    width: 50%;
}
.about h4 {
    margin-bottom: 70px;
    text-align: center;
    color: white;
    background-color: #000;
    height: 9%;
    width: 25%;
    margin-left: 38%;
}
.about p {
   font-size: 1.1rem;
   word-spacing: 10px;
}
.some-text {
    margin-top: 30px;
    background-color: #f1f1f1;
    height: 110px;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    border-left: 6px solid #ccc;
}
.coffeeshop img {
    margin-top: 30px;
    width: 750px;
    height: 393px;
    filter: grayscale(75%);
}
.hrs {
    margin-top: 20px;
}


input[type="radio"] {
  display: none;
}

.menu-wrapper {
  position: relative;
  margin-top: 70px;
  text-align: center;
  left: 65%;
  transform: translateX(-50%);
}

.menu-wrapper h5 {
  margin-bottom: 40px;
  font-size: 1.2rem;
  color: white;
  background-color: #000;
  width: 10%;
  margin: 0 auto 40px auto;
  padding: 10px;
  margin-right: 59%;
}
.links2 {
  border: 1px solid rgb(205, 199, 199);
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  width: 52%;
  height: 40px;
  margin: 0 auto 0px auto;
  padding-top: 8px;
  background-color: #fff;
  white-space: nowrap;
  margin-left: 10%;
}

.links2 label {
    display: inline-block;
  font-size: 1.2rem;
  color: #000;
  text-align: center;
}
#eat-tab:checked ~ .links2 label[for="eat-tab"],
#drink-tab:checked ~ .links2 label[for="drink-tab"] {
  background-color: #616161;
  color: white;
}



.menu-content {
  display: none;
  width: 52%;
  max-width: 800px;
  border: 1px solid rgb(205, 199, 199);
  box-shadow: 0 2px 5px rgba(0,0,0,0.16);
  padding: 30px;
  background-color: white;
  text-align: left;
  margin-left: 10%;
  height: 704px;
  border-top: transparent;
}
.menu-content h3 {
    margin-top: 40px;
}
.menu-content p {
    margin-top: 40px;
    color: gray;
}

#eat-tab:checked ~ .links2 ~ .eat-content {
  display: block;
}


#drink-tab:checked ~ .links2 ~ .eat-content {
  display: none;
}
#drink-tab:checked ~ .links2 ~ .drink-content {
  display: block;
}
.one-more-image img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 52%;
    height: 393px;
    margin-top: 40px;
    margin-left: 15px;
    filter: grayscale(75%);
}  
.where {
    margin-top: 40px;
} 
.where h5 {
    margin-left: 45%;
    margin-bottom: 60px;
    color: white;
    background-color: #000;
    width: 14%;
    height: 20px;
    font-size: 1.2rem;
    text-align: center;
}
.where p {
    margin-left: 25.11%;
    margin-bottom: 20px;
   
}
.find img {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 90px; */
    width: 52%;
    height: 393px;
    margin-left: 15px;
    filter: grayscale(75%);
}
.find p {
    margin-left: 25%;
    margin-bottom: 20px;
    width: 50%;
    font-size: 1rem;
    word-spacing: 3px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 2px;
}
.find input {
    width: 50%;
    margin-left: 25%;
    margin-bottom: 20px;
    height: 40px;
    outline: none;
}
.find input:focus {
    border: 2px solid #000;
}
.find button {
    display: block;
    margin-left: 25%;
    width: 10%;
    height: 30px;
    border-radius: 0;
    background-color: #000;
    color: white;
    border: 1px solid #000;
}
.find button:hover {
    background-color: #a7a3a3;
    color: #000;
    border: 1px soli #a7a3a3;
}
.at-last {
    background-color: #f1f1f1;
    color: #000;
    height: 159px;
    padding-left: 45%;
    padding-top: 5%;
    margin-top: 40px;
}
.at-last a {
    color: #000;
}